<div class="row">
 <h1>Super Zapatos</h1>
    <div class="large-12 columns">
      <div class="panel">
        <h2>Editing article</h2>
		<%= render 'form' %>
      </div>
      <a href="@article" class="button">Show</a>
	  <a href="/articles" class="button">Back</a>
    </div>
</div>  
