<div class="row">
 <h1>Super Zapatos</h1>
    <div class="large-12 columns">
      <div class="panel"  ng-controller="StoresCtrl">
        <h2>Editing store</h2>
		<%= render 'form' %>
      </div>
      <a href="<%= @store %>" class="button">Show</a>
	  <a href="/stores" class="button">Back</a>
    </div>
</div>  
