  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-6 columns">
          <p>&copy; Ruby on Rails - Foundation Zurb.</p>
        </div>
      </div>
    </div>
  </footer>