  <!-- Header and Nav -->
  <nav class="top-bar">
    <ul class="title-area">
      <li class="name">
        <h1>
          <a href="/">
            Super Zapatos
          </a>
        </h1>
      </li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        <li class="divider"></li>
        <li><a href="/stores">Stores</a></li>
        <li class="divider"></li>
        <li>
          <a href="/articles">Articles</a>
        </li>
      </ul>
    </section>
  </nav>


  <!-- End Header and Nav -->